#grid {
    position: relative;
    border: solid 1px #000;
}
#grid div {
    position: absolute;
}
#grid div.selected {
    border: 2px solid #000000;
}
#grid div.red {
    background: #EE0000;
}
#grid div.green {
    background: green;
}
#grid div.blue {
    background: blue;
}
#grid div.yellow {
    background: yellow;
}
#grid div.gray {
    background: #888888;
}
#grid div.orange {
    background: #FF9900;
}